<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="usc.edu.sampleapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="usc.edu.sampleapp.Perspective"
            id="usc.edu.sampleapp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="usc.edu.sampleapp.View"
            id="usc.edu.sampleapp.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="usc.edu.sampleapp.NewView"
            id="usc.edu.sampleapp.newview"
            name="View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="usc.edu.sampleapp.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="usc.edu.sampleapp.application"
            description="About NLPUtils"
            name="NLPUtils">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="NLPUtils">
         </property>
         <property
               name="aboutImage"
               value="icons/welcome16.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
    <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/welcome16.gif"
            id="usc.edu.sampleapp.intro">
      </intro>
      <introProductBinding
            introId="usc.edu.sampleapp.intro"
            productId="usc.edu.sampleapp.product">
      </introProductBinding>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="usc.edu.sampleapp.intro1">
      </intro>
      <introProductBinding
            introId="usc.edu.sampleapp.intro1"
            productId="usc.edu.sampleapp.product3">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="usc.edu.sampleapp.intro"
            content="introContent.xml"
            id="usc.edu.sampleapp.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
      <config
            content="introContent.xml"
            id="usc.edu.sampleapp.introConfigId"
            introId="usc.edu.sampleapp.intro1">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="usc.edu.sampleview.application"
            name="product">
         <property
               name="appName"
               value="product">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_window_32.gif">
         </property>
         <property
               name="aboutText"
               value="This gives information about NLPutils">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif">
         </property>
      </product>
   </extension>
   
    <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
    <extension
          id="product3"
          point="org.eclipse.core.runtime.products">
       <product
             application="usc.edu.sampleapp.application"
             name="usc.edu.sample.product">
          <property
                name="appName"
                value="usc.edu.sample.product">
          </property>
          <property
                name="aboutImage"
                value="icons/welcome16.gif">
          </property>
          <property
                name="windowImages"
                value="icons/alt_window_16.gif,icons/alt_window_32.gif">
          </property>
       </product>
    </extension>   
</plugin>
